/* BMW MODELLEN ACHTERGROND VOOR JUMBOTRON*/

/* I Series*/
.jumbotroni3{background-image: url("../img/BMW/Banners/rsz_/rsz_i3.png");background-size: cover;}
.jumbotroni4{background-image: url("../img/BMW/Banners/rsz_/rsz_i4.png");background-size: cover;}
.jumbotroni8{background-image: url("../img/BMW/Banners/rsz_/rsz_i8.png");background-size: cover;}
.jumbotroniX{background-image: url("../img/BMW/Banners/rsz_/rsz_ix.png");background-size: cover;}
.jumbotroniX3{background-image: url("../img/BMW/Banners/rsz_/rsz_ix3.png");background-size: cover;}
/* I Series*/

/* M Series */
.jumbotronm2{background-image: url("../img/BMW/Banners/rsz_/rsz_m2.png");background-size: cover;}
.jumbotronm3{background-image: url("../img/BMW/Banners/rsz_/rsz_m3.png");background-size: cover;}
.jumbotronm4{background-image: url("../img/BMW/Banners/rsz_/rsz_m4.png");background-size: cover;}
.jumbotronm5{background-image: url("../img/BMW/Banners/rsz_/rsz_m5.png");background-size: cover;}
.jumbotronm8{background-image: url("../img/BMW/Banners/rsz_/rsz_m8.png");background-size: cover;}
/* M Series */

/* Series */
.jumbotron1serie{background-image: url("../img/BMW/Banners/rsz_/rsz_1-serie.png");background-size: cover;}
.jumbotron2serie{background-image: url("../img/BMW/Banners/rsz_/rsz_2-serie.png");background-size: cover;}
.jumbotron3serie{background-image: url("../img/BMW/Banners/rsz_/rsz_3-serie.png");background-size: cover;}
.jumbotron4serie{background-image: url("../img/BMW/Banners/rsz_/rsz_4-serie.png");background-size: cover;}
.jumbotron5serie{background-image: url("../img/BMW/Banners/rsz_/rsz_5-serie.png");background-size: cover;}
.jumbotron6serie{background-image: url("../img/BMW/Banners/rsz_/rsz_6-serie.png");background-size: cover;}
.jumbotron7serie{background-image: url("../img/BMW/Banners/rsz_/rsz_7-serie.png");background-size: cover;}
.jumbotron8serie{background-image: url("../img/BMW/Banners/rsz_/rsz_8-serie.png");background-size: cover;}
/* Series */

/* X Series */
.jumbotronx1{background-image: url("../img/BMW/Banners/rsz_/rsz_x1.png");background-size: cover;}
.jumbotronx2{background-image: url("../img/BMW/Banners/rsz_/rsz_x2.png");background-size: cover;}
.jumbotronx3{background-image: url("../img/BMW/Banners/rsz_/rsz_x3.png");background-size: cover;}
.jumbotronx4{background-image: url("../img/BMW/Banners/rsz_/rsz_x4.png");background-size: cover;}
.jumbotronx5{background-image: url("../img/BMW/Banners/rsz_/rsz_x5.png");background-size: cover;}
.jumbotronx6{background-image: url("../img/BMW/Banners/rsz_/rsz_x6.png");background-size: cover;}
.jumbotronx7{background-image: url("../img/BMW/Banners/rsz_/rsz_x7.png");background-size: cover;}

.jumbotronx3m{background-image: url("../img/BMW/Banners/rsz_/rsz_x3m.png");background-size: cover;}
.jumbotronx4m{background-image: url("../img/BMW/Banners/rsz_/rsz_x4m.png");background-size: cover;}
.jumbotronx5m{background-image: url("../img/BMW/Banners/rsz_/rsz_x5m.png");background-size: cover;}
.jumbotronx6m{background-image: url("../img/BMW/Banners/rsz_/rsz_x6m.png");background-size: cover;}
.jumbotronx7m{background-image: url("../img/BMW/Banners/rsz_/rsz_x7m50i.png");background-size: cover;}
/* X Series */

/* Z Series */
.jumbotronz1{background-image: url("../img/BMW/Banners/rsz_/rsz_z1.png");background-size: cover;}
.jumbotronz3{background-image: url("../img/BMW/Banners/rsz_/rsz_z3.png");background-size: cover;}
.jumbotronz4{background-image: url("../img/BMW/Banners/rsz_/rsz_z4.png");background-size: cover;}
.jumbotronz8{background-image: url("../img/BMW/Banners/rsz_/rsz_z8.png");background-size: cover;}
/* Z Series */

/* BMW MODELLEN ACHTERGROND VOOR JUMBOTRON*/

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/* AUDI MODELLEN ACHTERGROND VOOR JUMBOTRON*/

/* A-modellen */
.jumbotrona1{background-image: url("../img/Audi/Banners/rsz_/rsz_a1.png");background-size: cover;}
.jumbotrona3{background-image: url("../img/Audi/Banners/rsz_/rsz_a3.png");background-size: cover;}
.jumbotrona4{background-image: url("../img/Audi/Banners/rsz_/rsz_a4.png");background-size: cover;}
.jumbotrona5{background-image: url("../img/Audi/Banners/rsz_/rsz_a5.png");background-size: cover;}
.jumbotrona6{background-image: url("../img/Audi/Banners/rsz_/rsz_a6.png");background-size: cover;}
.jumbotrona7{background-image: url("../img/Audi/Banners/rsz_/rsz_a7.png");background-size: cover;}
.jumbotrona8{background-image: url("../img/Audi/Banners/rsz_/rsz_a8.png");background-size: cover;}
/* A-modellen */

/* S-modellen */
.jumbotrons3{background-image: url("../img/Audi/Banners/rsz_/rsz_s3.png");background-size: cover;}
.jumbotrons4{background-image: url("../img/Audi/Banners/rsz_/rsz_s4.png");background-size: cover;}
.jumbotrons5{background-image: url("../img/Audi/Banners/rsz_/rsz_s5.png");background-size: cover;}
.jumbotrons8{background-image: url("../img/Audi/Banners/rsz_/rsz_s8.png");background-size: cover;}
/* S-modellen */

/* RS-modellen */
.jumbotronrs3{background-image: url("../img/Audi/Banners/rsz_/rsz_rs3.png");background-size: cover;}
.jumbotronrs4{background-image: url("../img/Audi/Banners/rsz_/rsz_rs4.png");background-size: cover;}
.jumbotronrs5{background-image: url("../img/Audi/Banners/rsz_/rsz_rs5.png");background-size: cover;}
.jumbotronrs6{background-image: url("../img/Audi/Banners/rsz_/rsz_rs6.png");background-size: cover;}
.jumbotronrs7{background-image: url("../img/Audi/Banners/rsz_/rsz_rs7.png");background-size: cover;}
/* RS-modellen */

/* Q-modellen */
.jumbotronq2{background-image: url("../img/Audi/Banners/rsz_/rsz_q2.png");background-size: cover;}
.jumbotronq3{background-image: url("../img/Audi/Banners/rsz_/rsz_q3.png");background-size: cover;}
.jumbotronq5{background-image: url("../img/Audi/Banners/rsz_/rsz_q5.png");background-size: cover;}
.jumbotronq7{background-image: url("../img/Audi/Banners/rsz_/rsz_q7.png");background-size: cover;}
.jumbotronq8{background-image: url("../img/Audi/Banners/rsz_/rsz_q8.png");background-size: cover;}
/* Q-modellen */

/* SQ-modellen */
.jumbotronsq2{background-image: url("../img/Audi/Banners/rsz_/rsz_sq2.png");background-size: cover;}
.jumbotronsq5{background-image: url("../img/Audi/Banners/rsz_/rsz_sq5.png");background-size: cover;}
.jumbotronsq7{background-image: url("../img/Audi/Banners/rsz_/rsz_sq7.png");background-size: cover;}
.jumbotronsq8{background-image: url("../img/Audi/Banners/rsz_/rsz_sq8.png");background-size: cover;}
/* SQ-modellen */

/* RSQ-modellen */
.jumbotronrsq3{background-image: url("../img/Audi/Banners/rsz_/rsz_rsq3.png");background-size: cover;}
.jumbotronrsq8{background-image: url("../img/Audi/Banners/rsz_/rsz_rsq8.png");background-size: cover;}
/* RSQ-modellen */

/* e-tron modellen */
.jumbotronetron{background-image: url("../img/Audi/Banners/rsz_/rsz_etron.png");background-size: cover;}
.jumbotronetrons{background-image: url("../img/Audi/Banners/rsz_/rsz_etron-s.png");background-size: cover;}
.jumbotronetrongt{background-image: url("../img/Audi/Banners/rsz_/rsz_etron-gt.png");background-size: cover;}
.jumbotronetrongtrs{background-image: url("../img/Audi/Banners/rsz_/rsz_rs-etron-gt.png");background-size: cover;}
.jumbotronq4etron{background-image: url("../img/Audi/Banners/rsz_/rsz_q4_etron.png");background-size: cover;}
/* e-tron modellen */

/* TT-modellen */
.jumbotronttc{background-image: url("../img/Audi/Banners/rsz_/rsz_tt-coupe.png");background-size: cover;}
.jumbotronttr{background-image: url("../img/Audi/Banners/rsz_/rsz_tt-roadster.png");background-size: cover;}
.jumbotronttsc{background-image: url("../img/Audi/Banners/rsz_/rsz_tts-coupe.png");background-size: cover;}
.jumbotronttsr{background-image: url("../img/Audi/Banners/rsz_/rsz_tts-roadster.png");background-size: cover;}
.jumbotronttrsc{background-image: url("../img/Audi/Banners/rsz_/rsz_ttrs-coupe.png");background-size: cover;}
.jumbotronttrsr{background-image: url("../img/Audi/Banners/rsz_/rsz_ttrs-roadster.png");background-size: cover;}
/* TT-modellen */

/* R8-modellen */
.jumbotronr8perf{background-image: url("../img/Audi/Banners/rsz_/rsz_r8_performance.png");background-size: cover;}
.jumbotronr8rwd{background-image: url("../img/Audi/Banners/rsz_/rsz_r8_rwd.png");background-size: cover;}
.jumbotronr8spyderperf{background-image: url("../img/Audi/Banners/rsz_/rsz_r8_spyder_performance.png");background-size: cover;}
.jumbotronr8spyderrwd{background-image: url("../img/Audi/Banners/rsz_/rsz_r8_spyder_rwd.png");background-size: cover;}
/* R8-modellen */

/* AUDI MODELLEN ACHTERGROND VOOR JUMBOTRON*/

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
