:root{
    --BirUIRed: #DC143C;
    --BirUIOrange: #FF4500;
    --BirUIYellow: #FFD700;
    --BirUIGreen: #32CD32;
    --BirUIBlue: #20B2AA;
    --BirUIPurple: #7B68EE;
    --BirUIPink: #FF1493;
    --BirUIBrown: #8B4513;
    --BirUIWhite: #E8EAED;
    --BirUIBlack: #000000;
}
